name: Semantic Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          # GH_TOKEN: Personal Access Token(PAT) 으로 Repo 에 대한 권한을 가진 토큰입니다.(semantic release 가 커밋을 할 수 있는 권한)
          # 현재 soliven25 계정의 Personal Access Token 으로 지정되어 있습니다.
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
